header {
    background-color: maroon;
    color: white;
  }
  nav {
    background-color: darkred;
}
nav a {
color: white;
}
main {
background-color: tomato;
}
footer {
background-color: firebrick;
color: white;
}
